annotated-types
anyio
asttokens
audioread
backports.functools-lru-cache
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
distro
docker
exceptiongroup
executing
fonttools
h11
httpcore
httpx
idna
importlib-metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
openai
opencv-contrib-python
opencv-python
opuslib
packaging
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
PyAudio
pycparser
pydantic
pydantic_core
pydub
pygame
Pygments
PyOgg
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
python-dotenv
python-magic-bin
pyzmq
requests
six
sniffio
sounddevice
soundfile
stack-data
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
websocket-client
windows-curses
zipp