annotated-types
anyio
asttokens
certifi
colorama
comm
debugpy
decorator
distro
exceptiongroup
executing
h11
httpcore
httpx
idna
importlib-metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
openai
packaging
parso
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
pyzmq
six
sniffio
stack-data
tornado
tqdm
traitlets
typing_extensions
wcwidth
zipp
