annotated-types==0.6.0
anyio==3.7.1
asttokens
audioread==3.0.1
backports.functools-lru-cache
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama
comm
contourpy==1.2.0
cycler==0.12.1
debugpy
decorator
distro==1.8.0
docker==6.1.3
exceptiongroup
executing
fonttools==4.45.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
importlib-metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver==1.4.5
matplotlib==3.8.2
matplotlib-inline
nest-asyncio
numpy==1.26.2
openai==1.3.3
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opuslib==3.0.1
packaging
parso
pickleshare
Pillow==10.1.0
platformdirs
prompt-toolkit
psutil
pure-eval
PyAudio==0.2.14
pycparser==2.21
pydantic==2.5.1
pydantic_core==2.14.3
pydub==0.25.1
pygame==2.5.2
Pygments
PyOgg==0.6.14a1
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil
python-dotenv==1.0.0
python-magic-bin==0.4.14
pyzmq
requests==2.31.0
six
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
stack-data
tornado
tqdm==4.66.1
traitlets
typing_extensions
urllib3==2.1.0
wcwidth
websocket-client==1.6.4
windows-curses==2.3.2
zipp